    /* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.pad{
  padding: 0 10%;
}
      /* header */

header{
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  height: 70px;
}

#form{
  background: grey;
  border-bottom: 2px solid black;
}

#option{
  background: lightgrey;
}
      /* main */
main > section:first-child{
  height: 600px;
  background-color: lightpink;
}

main > section:nth-child(3){
  background: lightblue;
  position: relative;
}

.jumbotron{
  width: 50%;
  background-color: lightgrey;
  border: 1px solid black;
  padding-top: 200px;
}

.banner{
  height: 70px;
  background: lightgreen;
}
      /* debug */
.head-section{
  text-align: center;
  padding: 0 25%;
  height: 50px;
}
    /* debug */
.row-up{
  height: 100px;
  background-color: lightblue;
}
    /* debug */
div[class^="crm"]{
  height: 50px;
  background: lightgreen;
}

.left-crm{
  float: left;
}

.right-crm{
  float: right;
}

ul{
  display: inline-block;
}

/* debug */
div[class^="colonna"]{
  height: 150px;
  width: calc(100% / 3 - 10%);
  background: red;
  float: left;
  border: 1px solid black;
}
