    /* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.pad{
  padding: 0 10%;
}

button{
  border-radius: 10px;
  background-color: #fe775a;
  padding: 10px;
  color: white;
}
      /* header */

header{
  position: fixed;
  height: 140px;
  top:0;
  left:0;
  width: 100%;
  z-index: 999;
}

a{
  text-decoration: none;
  color: black;
}

nav {
  height: 70px;
  line-height: 70px;
}
   /* first nav */
nav > div{
  display:inline-block;
}

#form{
  background:#f4f9fd;
  border-bottom: 2px solid black;
}

.left-form > span, a{
  margin-left: 10px;
}

.right-form{
  float: right;
}

.right-form button{
  margin:0 10px;
}

.fa-search{
  color: #00a4bd;
}

#login-button{
  background: transparent;
  border-color: #fe775a;
  color: #fe775a;
}

select{
  border: none;
  background: none;
}
   /* down nav */
#option{
  background-color: white;
}

.select-nav{
  float: right;
}


      /* main */
main > section:first-child{
  height: 650px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-position: 0px 122px;
  }

main > section:nth-child(3){
  background: lightblue;
  position: relative;
}

.jumbotron{
  width: 50%;

  padding-top: 200px;
}

.banner{
  height: 70px;
  background: lightgreen;
}
      /* debug */
.head-section{
  text-align: center;
  padding: 0 25%;
  height: 50px;
}
    /* debug */
.row-up{
  height: 100px;
  background-color: lightblue;
}
    /* debug */
div[class^="crm"]{
  height: 50px;
  background: lightgreen;
}

.left-crm{
  float: left;
}

.right-crm{
  float: right;
}

ul{
  display: inline-block;
}

/* debug */
div[class^="colonna"]{
  height: 150px;
  width: calc(100% / 3 - 10%);
  background: red;
  float: left;
  border: 1px solid black;
}
